@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto&display=swap");

body {
  margin: 0;
  font-family: "Roboto", "Nanum Gothic", sans-serif;
  color: #606060;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
